/*
File worked on by: Liam and Griffin
*/

html {
    font-family: 'Space Mono', monospace;
}

.logo {
    width: 275px;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 25%;
    z-index: -1;
}
.loading {
    width: 290px;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.login__page__body {
    margin-left: 51%;
    margin-top: 30%;

}
.align_left{
    position: absolute;
    margin: auto;
    top: 2.5%;
    left: 90%;
    right: 0;
    bottom: 0;
}
.image__component{
    position: absolute;
    margin: auto;
    top: 0;
    left: 90%;
    right: 0;
    bottom: 10%;
}
.chat__header {
    color: #fff;
    padding: 15px;
    background-color: rgba(0, 0, 255, 0.1);
}

#chat__sign__out {
    float: right;
}

#send__content{
    background-color: rgba(0, 0, 255, 0.1);
}
#chat__box::-webkit-scrollbar {
    display: none;
}

#chat__box {
    overflow-x: hidden;
    overflow-y: visible;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 610px;
}

.send__content{
    width: 100%;
    height: auto;
    border: none;
    border-radius: 0;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 0, 255, 0.1);
    margin-left: 50%;
    margin-top: 10px;
    margin-right: 50%;
}

.authorMessage {
    margin-left: 60%;
    background-color: #008AE0;
    border: 2px solid #008AE0;
    color: #fff;
    padding: 10px;
    border-radius: 25px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.otherMessage {
    margin-right: 60%;
    background-color: #E9EDEC;
    border: 2px solid #E9EDEC;
    color: #000;
    padding: 10px;
    border-radius: 25px;
    margin-top: 6px;
    margin-bottom: 6px;
    white-space: wrap;
}

.otherProfileURL {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #C0E2F8;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.authorProfileURL {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #C0E2F8;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.otherName {
    margin-right: 10px;
    float: left;
    font-style: italic;
    font-size: 15px;
}

.authorName {
    margin-right: 10px;
    float: right;
    font-style: italic;
    font-size: 15px;
}

.otherFooter {
    color: rgba(128, 128, 128, 0.75);
    font-size: 12px;
    font-style: italic;
}

.authorFooter {
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
    font-style: italic;
}

.chat__message__body {
    overflow-wrap: break-word;
}

.upload__image {
    display: inline-block;
}

.sentImage {
    width: 255px;
    height: auto;
}

.message__content__component {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.important {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.emojiButon {
    display: inline-block;
    margin-left: 10px;
    border: 2px solid #C0E2F8;
    border-radius: 5px;
}

.image__component {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.banBanned {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
    user-select: none;
    background-color: #ff0000;
}