html {
    font-family: 'Orelega One', cursive;
}
.logo {
    width: 200px;
    height: auto;
}
.chat__header{
    background-color: #00ffd9;
}
#chat__box {
    height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: colomn-revers;
}
.authorMessage {
    margin-left: 60%;
    background-color: #008AE0; 
    border:2px solid #008AE0;
    color: #fff;
    padding: 10px; 
    border-radius: 25px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.otherMessage {
    margin-right: 60%;
    background-color: #E9EDEC;
    border:2px solid #E9EDEC;
    color: #000;
    padding: 10px; 
    border-radius: 25px;
    margin-top: 6px;
    margin-bottom: 6px;
}